.wrapper{
    width: 1366px;
    height: 100%;
}
.main__container{
    width: 1200px;
    height: auto;
    margin: 0 83px 0  83px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
.weather__main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}